.experience-section {
    padding-top: 70px;
    h2 {
        font-family: $brand-heading;
        font-size: 72px;
        color: $brand-primary-500;
    }
}

.experience-imgs {
    padding-top: 50px;
    padding-bottom: 50px;
}