// -------------------- Brand colours

// Primary
$brand-primary-900: #0A0E15;
$brand-primary-500: #1F2A3F;
$brand-primary-100: #324467;

// Secondary
$brand-secondary-900: #212B36;
$brand-secondary-500: #384A5D;
$brand-secondary-100: #4F6883;

// Tertiary
$brand-tertiary-900: #638786;
$brand-tertiary-500: #92AFAE;
$brand-tertiary-100: #B5C9C8;

// Neutrals
$brand-neutral-100: #F8F8F8;
$brand-neutral-300: #CCCCCC;
$brand-neutral-500: #999999;
$brand-neutral-700: #666666;
$brand-neutral-900: #171713;

// -------------------- Typography

// Fonts
$brand-heading: 'Outfit', sans-serif; // H1, H2, H3
$brand-body: 'Inter', sans-serif; // Paragraphs 

// Font weights

$weight-light: 300;


