// External fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Outfit:wght@400;600;700&display=swap');

// Project files
@import 'variables';
@import 'header';
@import 'blocks/hero';
@import 'blocks/experience';
@import 'blocks/testimonials';
@import 'blocks/pricing';

body {
  font-family: $brand-body;
  line-height: 1.25;
  color: $brand-neutral-900;
  -webkit-font-smoothing: antialiased;
}